<app-nav></app-nav>

<div class="body">
  <div class="oneNewsConteainer">
    <h1>
      <a routerLink="/article" class="link">
        «Цвет историй»: как устроен средневековый манускрипт
      </a>
    </h1>
    <ul>
      <li (click)="goToArticle('phillip-III-dobriy')">Филипп III Добрый</li>
      <li (click)="goToArticle('biblioteka-phillipa-iii-dobrogo')">
        Библиотека Филиппа III Доброго
      </li>
      <li (click)="goToArticle('tsvet-istoriy')">«Цвет историй»</li>
    </ul>
  </div>

  <!-- _________________________________repet________________________________________________________ -->
  <div class="oneNewsConteainer">
    <h1>
      <a routerLink="/article" class="link">
        «Цвет историй»: как устроен средневековый манускрипт
      </a>
    </h1>
    <ul>
      <li (click)="goToArticle('phillip-III-dobriy')">Филипп III Добрый</li>
      <li (click)="goToArticle('biblioteka-phillipa-iii-dobrogo')">
        Библиотека Филиппа III Доброго
      </li>
      <li (click)="goToArticle('tsvet-istoriy')">«Цвет историй»</li>
    </ul>
  </div>
  <div class="oneNewsConteainer">
    <h1>
      <a routerLink="/article" class="link">
        «Цвет историй»: как устроен средневековый манускрипт
      </a>
    </h1>
    <ul>
      <li (click)="goToArticle('phillip-III-dobriy')">Филипп III Добрый</li>
      <li (click)="goToArticle('biblioteka-phillipa-iii-dobrogo')">
        Библиотека Филиппа III Доброго
      </li>
      <li (click)="goToArticle('tsvet-istoriy')">«Цвет историй»</li>
    </ul>
  </div>
  <div class="oneNewsConteainer">
    <h1>
      <a routerLink="/article" class="link">
        «Цвет историй»: как устроен средневековый манускрипт
      </a>
    </h1>
    <ul>
      <li (click)="goToArticle('phillip-III-dobriy')">Филипп III Добрый</li>
      <li (click)="goToArticle('biblioteka-phillipa-iii-dobrogo')">
        Библиотека Филиппа III Доброго
      </li>
      <li (click)="goToArticle('tsvet-istoriy')">«Цвет историй»</li>
    </ul>
  </div>
  <div class="oneNewsConteainer">
    <h1>
      <a routerLink="/article" class="link">
        «Цвет историй»: как устроен средневековый манускрипт
      </a>
    </h1>
    <ul>
      <li (click)="goToArticle('phillip-III-dobriy')">Филипп III Добрый</li>
      <li (click)="goToArticle('biblioteka-phillipa-iii-dobrogo')">
        Библиотека Филиппа III Доброго
      </li>
      <li (click)="goToArticle('tsvet-istoriy')">«Цвет историй»</li>
    </ul>
  </div>
  <div class="oneNewsConteainer">
    <h1>
      <a routerLink="/article" class="link">
        «Цвет историй»: как устроен средневековый манускрипт
      </a>
    </h1>
    <ul>
      <li (click)="goToArticle('phillip-III-dobriy')">Филипп III Добрый</li>
      <li (click)="goToArticle('biblioteka-phillipa-iii-dobrogo')">
        Библиотека Филиппа III Доброго
      </li>
      <li (click)="goToArticle('tsvet-istoriy')">«Цвет историй»</li>
    </ul>
  </div>
</div>
